<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qdu.lc.blogs.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="qdu.lc.blogs.model.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="lasttime" jdbcType="TIMESTAMP" property="lasttime" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="lastsite" jdbcType="VARCHAR" property="lastsite" />
  </resultMap>
  <sql id="Base_Column_List">
    id, telephone, lasttime, avatar, lastsite
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="qdu.lc.blogs.model.UserInfo">
    insert into blog_userinfo (id, telephone, lasttime, 
      avatar, lastsite)
    values (#{id,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{lasttime,jdbcType=TIMESTAMP}, 
      #{avatar,jdbcType=VARCHAR}, #{lastsite,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="qdu.lc.blogs.model.UserInfo">
    insert into blog_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="lasttime != null">
        lasttime,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="lastsite != null">
        lastsite,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null">
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="lastsite != null">
        #{lastsite,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qdu.lc.blogs.model.UserInfo">
    update blog_userinfo
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null">
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="lastsite != null">
        lastsite = #{lastsite,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qdu.lc.blogs.model.UserInfo">
    update blog_userinfo
    set telephone = #{telephone,jdbcType=VARCHAR},
      lasttime = #{lasttime,jdbcType=TIMESTAMP},
      avatar = #{avatar,jdbcType=VARCHAR},
      lastsite = #{lastsite,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>